* {
    list-style: none;
    text-decoration: none;
}

.all {
    position: relative;
    top: 0;
    width: 1200px;
    margin: 0px auto;
}

header {
    height: 74px;
    padding-top: 10px;
    border-bottom: 2px solid #ff6700;
}

.logo1 {
    width: 49px;
    height: 49px;
    background-color: #ff6700;
}

.logo2 {
    margin-right: 300px;
    margin-top: -35px;
    float: right;
    width: 70px;
    height: 70px;
}

header li {
    color: #ff6700;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: -30px;
}

.registerarea {
    margin-top: 20px;
    height: 602px;
    border: 1px solid #ccc;
}

.registerarea h4 {
    padding-left: 10px;
    line-height: 42px;
    margin-top: 0;
    height: 42px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}

.registerarea h4 a:hover {
    color: #ff6700;
}

.registerarea h4 a {
    color: #757575;
}

.registerarea h4 li {
    float: right;
}

.registerarea li {
    padding-right: 10px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
}

.registerarea li .a a {
    color: #ff6700;
}

.reg_form {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .in {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.reg_form ul li {
    padding-bottom: 20px;
}

.agree input {
    vertical-align: middle;
    margin-left: 95px;
}

.agree a {
    color: #ff6700;
}

.sub {
    color: #fff;
    font-size: 14px;
    width: 200px;
    height: 34px;
    margin-top: 20px;
    margin-left: 112px;
    background-color: #ff6700;
}

.first {
    position: absolute;
    top: 205px;
    right: 265px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: red;
}

.second {
    position: absolute;
    top: 266px;
    right: 265px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: red;
}

.third {
    position: absolute;
    top: 327px;
    right: 165px;
    width: 300px;
    height: 30px;
    line-height: 30px;
    color: red;
}

.fourth {
    position: absolute;
    top: 388px;
    right: 235px;
    width: 230px;
    height: 30px;
    line-height: 30px;
    color: red;
}

.fifth {
    position: absolute;
    top: 443px;
    right: 165px;
    width: 300px;
    line-height: 30px;
    color: red;
}

.fifth ul li {
    float: left;
    height: 10px;
    width: 50px;
    background-color: red;
    margin-left: 10px;
    margin-bottom: 15px;
}

.boss {
    position: absolute;
    top: 7px;
    width: 200px;
    height: 30px;
    color: red;
    line-height: 30px;
}

.fifth ul .fifth-first {
    background-color: red;
    opacity: 0;
}

.fifth ul .fifth-second {
    background-color: yellow;
    opacity: 0;
}

.fifth ul .fifth-third {
    background-color: green;
    opacity: 0;
}

.sixth {
    position: absolute;
    top: 511px;
    right: 265px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: red;
}


/* 结尾部分 */

footer {
    height: 300px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.foot {
    width: 1226px;
    height: 266px;
    margin: 0 auto;
}

.foot .foot-1 {
    padding-top: 30px;
    width: 1226px;
    height: 110px;
    margin: 0 auto;
}

.foot .foot-1 img {
    float: left;
    width: 57px;
    height: 57px;
    background-color: #ff6700;
}

.foot .foot-1 ul {
    margin-left: 66px;
}

.foot .foot-1 ul a {
    font-size: 12px;
    line-height: 18px;
    border-right: 1px solid #757575;
    padding-right: 5px;
    color: #757575;
    font-weight: 400;
}

.foot .foot-1 ul a:last-of-type {
    border-right: 1px solid transparent;
}

.foot .foot-1 ul a:hover {
    color: #ff6700;
}

.foot .foot-1 ul .c {
    color: #b0b0b0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    display: block;
}

.foot .foot-1 ul .c a {
    color: #b0b0b0;
    border-right: 1px solid transparent;
}

.foot .foot-1 ul .c a:hover {
    color: #ff6700;
}

.foot .foot-1 ul .d {
    color: #b0b0b0;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    display: block;
}

.foot .foot-1 ul .d a {
    color: #b0b0b0;
    border-right: 1px solid transparent;
}

.foot .foot-1 ul .d a:hover {
    color: #ff6700;
}

.foot .foot-1 ul .d p {
    margin-top: 3px;
    display: inline-block;
}

.foot .foot-2 ul li {
    margin-top: 10px;
    float: left;
}

.foot .foot-2 ul {
    position: relative;
    margin-left: 66px;
}

.foot .foot-2 ul .a img {
    margin-top: 10px;
    width: 83px;
    height: 28px;
}

.foot .foot-2 ul .d img {
    width: 105px;
    height: 40px;
}

.foot-3 {
    height: 19px;
    margin: 0 auto;
}

.foot-3 p {
    font-size: 22px;
    color: #b0b0b0;
    margin-top: 100px;
    text-align: center;
}